
.spots-container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto;
    /* border: 1px solid red; */
    padding: 0px 50px 50px 50px;
    margin-top: 40px;
    max-width: 1000px;
}

/* create media for max and min sizing*/

.spots-header {
    margin-top: 100px;
    padding: 0;
    margin-bottom: 0;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    margin-left: 60px;
    font-size: 16px;
    font-weight: 300;
}

.creds {
    font-weight: bold;
}

.errors {
    color: black;
    /* margin: 0; */
    border-radius: 10px;
    padding: 20px 60px 20px 60px;
    list-style: none;
    /* list-style: square; */
}

.spot-detail {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto;

    background-color: white;
    border-top: 1px solid #EBEBEB;
    padding: 40px 0px 40px 0px;
    /* margin: 6px; */
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.card-dets {
    display: flex;
    /* margin-left: auto;
    margin-right: auto; */
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.card-header {
    display: flex;
    justify-content: row;
}

.card-image {
    display: flex;
    align-self: flex-end;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 28px;
}
.city-state {
    display: flex;
    justify-content: row;
    font-size: 14px;
    font-weight: 300;
    color: gray;
    padding-bottom: 5px;
}
.city {
    padding-right: 8px;
    padding-left: 8px;
}

.navlink-card {
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
}

.divider {
    border-top: 1.5px solid #DDDDDD;
    width: 40px;
}

.bed-bath {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 300;
    color: gray;
    padding-top: 10px;
}

.all-spot-baths {
    padding-left: 10px;
}

.dot-separator {
    display: flex;
    padding-top: 9px;
    padding-left: 10px;
}

.fa-circle {
    font-size: 3px;
}

.spot-page-price-div {
    display: flex;
    flex-direction: column;
    width: 650px;
}
.card-price {
    display: flex;
    justify-content: flex-end;
    padding-top: 90px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
}

.price-div {
    font-size: 17px;
}

.slash-div {
    font-weight: 300;
    padding-left: 3px;
    font-size: 17px;
}

.night-div {
    font-weight: 300;
    padding-left: 3px;
    font-size: 17px;
}

.spot-info {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}



/* Create and Edit Spot Form  */

.input-form-div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* align-items: center; */
    /* flex-direction: column; */
    /* margin-left: 20px; */
    margin-top: 150px;
    /* margin-top: 200px; */
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 150px;
}

.new-spot-form {
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    /* width: 500px; */
}

.edit-input-form-div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* align-items: center; */
    /* flex-direction: column; */
    /* margin-left: 20px; */
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
}


.edit-spot-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 500px; */

}

.create-listing-text {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    margin-left: 80px;
    flex-wrap: wrap;
    width: 50%;
    /* color: #006D77; */
}

.errors {
    color: #006D77;

}

.become-host-detail-heading {
    margin-top: 50px;
    font-size: 21px;
}

.please-provide-details {
    font-weight: 400;
    font-size: 16px;

}
.create-new-listing-form {
    /* display: grid; */
    /* display: flex; */
    /* margin-top: 50px; */
}

.edit-labels {
    margin: 0px 10px 10px 25px;
    padding: 0 5px 0 5px;
    font-size: 12px;
    position: absolute;
    background-color: white;
    color: #006D77;
}

.top-edit-labels {
    margin: 0px 10px 10px 25px;
    padding: 0 5px 0 5px;
    color: #006D77;
    font-size: 12px;
    position: absolute;
    background-color: white;
}

.top-input-box {
    display: flex;
    justify-content: center;
    padding: 20px 10px 20px 10px;
    margin: 7px 10px 5px 10px;
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 500px;
    height: 30px;
}

.input-box {
    display: flex;
    justify-content: center;
    padding: 20px 10px 20px 10px;
    margin: 10px 10px 4px 10px;
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 500px;
    height: 30px;
}

.new-spot-button {
    display: flex;
    justify-content: center;

    padding: 20px 10px 20px 10px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    color: white;
    background-image: radial-gradient(circle, rgba(0,109,119,1) 0%, rgba(226,149,120,1) 0%, rgba(131,197,190,1) 100%);
    font-size: 16px;
    font-weight: 700;
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 28px;
    margin: 10px 10px 10px 10px;
    width: 520px;
    cursor: pointer;
}

.form-header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

}

.single-spot-detail-container{
    /* margin: auto; */
    display: flex;
    justify-content: center;
    padding: 0 80px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 90px;
    margin-bottom: 60px;
    max-width: 1400px;
    background-color: white;
    flex-shrink: 1;
    box-sizing: border-box;

}

.spot-detail-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 18px;
    width: 100%;
}

.single-spot-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;

}

.single-spot-name {
    display: flex;
    font-size: 26px;
    font-weight: 600;
}

.spot-address {
    display: flex;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    padding: 0px 0px 12px 0px;
    color: gray;

}

.spot-images-multiple-div {
    display: flex;
    width: 100%;
}

.spot-images-multiple-div-left {
    display: flex;

}

.spot-images-multiple-div-right {
    display: flex;
    flex-direction: column;
}

.spot-images-left {
    display: flex;
    width: 800px;
    height: 480px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 25%) 0px 8px 28px;
}

.spot-images-right {
    display: flex;
    max-width: 1120;
    width: 400px;
    height: 240px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 25%) 0px 8px 28px;
}

.spot-images-div {
    display: flex;
    width: 100%;
    border-radius: 10px;

}

.spot-images {
    display: flex;
    width: 800px;
    height: 480px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 25%) 0px 8px 28px;
}

.detail-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 0px 20px 20px 0px;
    margin: 0px 10px;
    height: auto;
}

.home-details {
    display: flex;
    height: auto;

}
.details-header {
    padding: 0px 10px 0px 10px;
    font-size: 22px;
    font-weight: 500;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

}

.single-bed-bath {
    display: flex;
}

.beds {
    padding: 0px 10px 10px 10px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 16px;
    font-weight: 300;

}

.baths {
    padding: 0px 10px 10px 10px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 16px;
    font-weight: 300;

}

.single-dot-separator {
    display: flex;
    padding-top: 10px;
    padding-left: 2px;
}


.single-spot-price {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    padding: 0px 80px 0px 20px;
    margin: 20px 0px;
    width: 100%;
}

.single-spot-price-div {
    display: flex;
}

.calendar-edit-details-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    height: auto;


}

.calendar-edit-section {
    display: flex;
    justify-content: flex-end;
    position: -webkit-sticky;
    position: sticky;
    top: 110px;
    height: auto;

}

.edit-delete-button-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin: 10px 20px 50px 10px; */
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.owner-edit-button-div {
    display: flex;
    border-top: 1px solid lightgray;
}

.owner-edit-btn-nav {
    text-decoration: none;
}

.edit-listing-button {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    margin-bottom: 8px;
    padding: 15px 10px 12px 0px;
    width: 500px;
    border: none;
    background-color: white;
    font-weight: bolder;
    font-size: 16px;
}

.edit-listing-button-text {
    display: flex;
}

.edit-listing-button-arrow {
    display: flex;
}

.owner-delete-button-div {
    display: flex;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

}

.delete-listing-button {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    margin-bottom: 8px;
    padding: 15px 10px 12px 0px;
    width: 500px;
    border: none;
    background-color: white;
    font-weight: bolder;
    font-size: 16px;
}

.home-info-container {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.stay-info {
    display: block;
    box-sizing: border-box;
    border-top: 1px solid lightgray;
    padding: 32px 0;
    margin: 0 0 24px;

    max-width: 653px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    flex: 0 1 auto;
}

.stay-info h3 {
    font-size: 16px;
    font-weight: bolder;
    line-height: 20px;
}

.stay-info p {
    font-size: 14px;
    font-weight: 300;

}

.home-description {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: block;
    padding-top: 32px;
    padding-bottom: 48px;
}

.single-spot-where-div {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid lightgray;

}

.single-spot-where-header {
    /* padding: 0px 10px 0px 10px; */
    font-size: 22px;
    font-weight: 500;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

}

.single-spot-where-address-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.single-spot-where-address {
    padding: 10px 0 0px 0;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.single-spot-where-link {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: gray;
}

.single-spot-host {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid lightgray;
    margin-bottom: 90px;

}

.single-spot-host-details {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    height: auto;
    /* border: 1px solid red; */
    margin-top: 30px;
    border-top: 1px solid lightgray;
    margin-bottom: 30px;
    max-width: 1400px;
    margin-left: 40px;
    margin-right: 40px;
    width: 100%;
}


/* Manage Host Spots Page */

.host-spots-container {
    margin-top: 100px;
}
