.spots-container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto;
    border: 1px solid red;
    padding: 50px 50px 50px 50px;
    margin-top: 40px;
    max-width: 1000px;
}

/* create media for max and min sizing*/

.spot-detail {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto;
    border: 1px solid gray;

    padding: 50px 20px 80px 20px;

}

.spots-header {
    margin-top: 100px;
    padding: 0;
    margin-bottom: 0;
}

.errors {
    color: red;
    margin: 0;
    border: 1px solid gray;
}

.spot-detail-page {
    margin-top: 100px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;

}

.spot-images {
    display: flex;
    align-self: flex-end;
    width: 300px;
    height: 220px;
    border-radius: 10px;
}

.spot-address {
    display: flex;
    justify-content: start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 0px 0px 20px 0px;
}

.spot-price {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    padding: 0px 20px 0px 20px;
    margin: 20px 0px;
}

.detail-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid gray;
    width: fit-content;
    padding: 0px 20px 20px 20px;
    margin: 20px 20px;
}

.home-details {
    display: flex;

}
.details-header {
    padding: 0px 10px 0px 10px;
}

.beds {
    padding: 0px 10px 10px 10px;
}
.baths {
    padding: 0px 10px 10px 10px;
}

.card-dets {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.card-image {
    display: flex;
    align-self: flex-end;
    width: 300px;
    height: 220px;
    border-radius: 10px;
}

.spot-info {
    display: flex;

    flex-direction: column;
}


.input-form-div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 200px;
    /* background-color: seagreen; */

}

.new-spot-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
}

.input-box {
    display: flex;
    justify-content: center;
    padding: 20px 10px 20px 10px;
    margin: 10px 10px 10px 10px;
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 450px;
}

.new-spot-button {
    /* padding: 5px 10px 5px 10px; */
    display: flex;
    justify-content: center;
    padding: 20px 10px 20px 10px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    color: white;
    /* background-color: white; */
    background-image: radial-gradient(circle, rgba(0,109,119,1) 0%, rgba(226,149,120,1) 0%, rgba(131,197,190,1) 100%);
    font-size: 16px;
    font-weight: 700;
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 28px;
    margin: 10px 10px 10px 10px;
    width: 450px;
}

.form-header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

}
