html {
    height: 100%;
    width: 100%;
    background-color: #EDF6F9;
    overflow: auto;
}

#splash-page {
    box-sizing: border-box;
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 40px;
    overflow-wrap: auto;

}

.splash-page-image {
    /* border: 1px solid black; */

    border-radius: 12px;
    width: 100%;
    max-width: 1300px;
    height: 100%;
    max-height: 568px;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;

}

#splash-img-text {
    position: absolute;
    top: 130px;
    padding: 5px;
    color: white;

    display: flex;
    justify-content: center;
    align-self: center;

    font-size: 43px;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 43px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px gray;
}

.flexible-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    top: 220px;
    right:850px;

    padding: 15px 25px 15px 25px;

    font-size: 16px;
    border-radius: 23px;
    border: none;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    font-weight: bold;
}

.inspo-trip-container {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    max-height: 568px;
}


.trip-section-text {
    font-size: 38px;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 43px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 310px;
    position: relative;
    top: 100px;
    padding: 40px 0px;
    width: 100%;
    max-width: 1300px;
}

.trip-inspo-cards {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 30px;
    /* overflow-wrap: auto; */
}

.trip-inspo-cards li {
    display: flex;
    flex-direction: column;
    margin: 0 15px;

}

.trip-inspo-cards img {
    /* border-radius: 15px; */
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 200px;
}

.image-content {
    padding: 50px 10px 70px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px;
    width: 100%;
    max-width: 280px;
    height: 100%;
    max-height: 200px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
}

.trip-nav {
    text-decoration: none;
    color: black;
}

#trip-img-1 {
    background-color: #006D77;
}

#trip-img-2 {
    background-color: #83c5BE;
}

#trip-img-3 {
    background-color: #FFDDD2;
}

#trip-img-4 {
    background-color: #E29578;
}

.hosting-section {
    box-sizing: border-box;
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 40px;
    overflow-wrap: auto;
}

.hosting-image {
    border-radius: 12px;
    width: 100%;
    max-width: 1300px;
    height: 568px;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
}

.host-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    top: 230px;
    right: 850px;
    padding: 14px 18px 14px 18px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
}

.hosting-text {
    position: absolute;
    top: 130px;
    padding: 5px;
    color: white;

    display: flex;
    justify-content: center;
    align-self: center;

    font-size: 43px;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 43px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px gray;
}
