.host-spots-container {
    margin-top: 150px;
    margin-left: 40px;
    margin-right: 40px;
}


.hosting-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.your-reservations {
    display: flex;

}

.reservation-count {
    display: flex;
    text-decoration: underline;

}

.host-each-spot-container {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
}

.host-spot-img-div {
    display: flex;
}

.host-spot-image {
    width: 200px;
    height: 150px;
    border-radius: 12px;
}

.host-spot-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.host-spot-details-info {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.host-spot-details-link {
    display: flex;
    padding-left: 20px;
}



.manage-host-spot-detail-link {
    text-decoration: none;
    color: black;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

}
