
.signupContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.signupForm {
    border: 1px solid gray;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;

}

.signUpInputField {
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin: 26px 12px 10px;
    padding: 14px 24px 14px 24px;
}

.signupButton {
    display: block;
    /* background-size: 200px 200px; */
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    color: white;
    line-height: 20px;
    font-weight: 500;
    background-image: radial-gradient(circle, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% );
    padding: 14px 24px 14px 24px;
}
