.edit-booking {
    padding: 0 40px 0 40px;
}

.edit-reservations-header {
    display: flex;
    justify-content: center;

}

.edit-booking-calendar {
    /* display: block; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-booking-calendar-price-section {
    display: flex;
    flex-direction: row;
    /* padding-left: 40px; */
    padding-top: 10px;
}

.edit-booking-calendar-price {
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.edit-booking-calendar-night {
    font-size: 18px;
    font-weight: lighter;
    padding-left: 5px;
    padding-top: 4px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

}

.edit-booking-calendar-dates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 12px;
    align-items: center;
}

.reserve {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.reserve-button {
    display: flex;
    justify-content: center;
    padding: 16px 10px 16px 10px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    color: white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.03em;
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 28px;

    background-image: radial-gradient(circle, rgba(0,109,119,1) 0%, rgba(226,149,120,1) 0%, rgba(131,197,190,1) 100%);
}

.reserve-text {
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
    letter-spacing: 0.03em;
}



.edit-datepicker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    width: 380px;
    cursor: pointer;
}

.edit-date {
    border: none;
    text-align: left;
    font-size: 14px;
    padding-bottom: 10px;
    /* padding-top: 10px; */
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    cursor: pointer;
}

.checkin {
    text-align: left;
    font-size: 14px;
    border-right: 1px solid lightgray;

}

.checkout {
    text-align: left;
    font-size: 14px;
    padding-left: 10px;
}


.edit-booking-button {
    padding: 20px 0px 20px 0px;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 20px;
    border: none;
}

.edit-booking-button-div {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}

.edit-booking-arrow {
    display: flex;
    align-items: center;
    padding-right: 5px;
}
