#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    /* background-color: #cc0000; */
    color: white;
    /* padding: 1em; */

}

.nav-bar {
    display: block;
    height: 80px;
    /* position: fixed; */
    /* line-height: 50px; */
    width: 100%;
    max-height: 80px;
    min-height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    overflow: hidden;
    /* position: fixed; */
}

.nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFDDD2;
    /* background-color: #83C5BE; */
    padding: 10px 80px 10px 80px;
    max-height: 80px;

    /* box-shadow: rgb(0 0 0 / 10%) 0px 8px 28px; */
}

.logo {
    /* width: 70px; */
    width: 180px;
    height: 150px;
    position: relative;
}


/* .profile {
    height: 10px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
    position: relative;
} */


.profile-button {
    display: block;
    text-align: end;
    border-radius: 30px;
    font-size: 40px;
    /* border: 2px solid lightgray; */
    background-color: white;
    color: gray;
    /* justify-content: flex-end; */
    border: none;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 25%) 0px 8px 28px;


}

/* .profile-button:hover {

} */

.profile-dropdown-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 80px;
    /* position: relative; */
    padding-bottom: 20px;


}

.profile-dropdown-container ul {
    position: absolute;
    margin-top: 55px;
    width: 200px;
    height: 200px;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: left;
    list-style: none;
    cursor: pointer;

}

.profile-dropdown {
    padding-left: 25px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    list-style-type:none;
    /* border: 1px solid lightgrey; */
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    border-radius: 10px;
    background-color: white;
    box-sizing: border-box;
    overflow: visible;
    position: absolute;
    left: auto;
    right: 70px;

}


.profile-links {
    padding: 10px 5px 10px 5px;
    color: black;

}

.logout {
    border-top: 1px solid lightgrey;

}

.logout-button {
    border: none;
    background-color: white;
    padding-bottom: 5px;
    padding-top: 10px;

}

.become-a-host {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    /* padding-right: 80px; */
    /* padding-left: 900px; */

    /* position: relative; */
    padding-bottom: 20px;
    color: #006D77;
    font-weight: bolder;
    text-shadow: gray 1px 1px 1px;

}
